[submodule "fabl"]
	path = fabl
	url = https://github.com/karinathomasbbc/fabl
[submodule "belfrage"]
	path = belfrage
	url = https://github.com/karinathomasbbc/belfrage
[submodule "web"]
	path = web
	url = https://github.com/karinathomasbbc/web
